<div class="row">
  <div class="col-md-3"></div>
  <div class="col-sm-12 col-md-9">
    <ng-leaflet [lfCenter]="center" [lfLayers]="layers"></ng-leaflet>
    <div class="lf-demo-btns" style="margin: 20px 0;">
      <button type='button' class="btn btn-secondary" (click) = "changeLayer('Topographic')">Topographic</button>
      <button type='button' class="btn btn-info" (click) = "changeLayer('Streets')">Streets</button>
      <button type='button' class="btn btn-warning" (click) = "changeLayer('DarkGray')">Dark Gray</button>
    </div>
  </div>
</div>
